html, body { height: 100%}

body {
    display: flex;
    flex-direction: column;

    background-color: #606878;
    height: 100%;
}

.cabecalho {
    margin: auto;
    background: #E0D898;
    width: 80%;
    height: 5%;

    font-family: 'pokemon';
    color: #F8F8F8;
    text-shadow: 0.3vw 0.3vw #686868;
    font-size: 2vw;
    text-align: left;
}

.cabecalhointerno {
    padding: 1vw;
    font-family: 'pokemon';
    color: #F8F8F8;
    text-shadow: 0.3vw 0.3vw #686868;
    font-size: 2vw;
    text-align: left;
}

.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    height: 80%;
}

.secaoprimaria {
    display: flex;
    flex-direction: row;
}

.secaosecundaria {
    display: flex;
    flex-direction: row;
}

.fotopokemon {
    width: 60%;
    height: auto;
    background-color: #C8A8E8;

    border: solid #606878;
    border-width: 0 0.7vw 0.7vw 0;
    box-sizing: border-box;
}

.fotopokemoninterna {
    margin: 0.7vw;
    border: solid #B088D0;
    border-width: 0.4vw 0.4vw 0.4vw 0.4vw;
    box-sizing: border-box;

    background: repeating-linear-gradient(
        180deg,
        #F8F8F8,
        #F8F8F8 1%,
        #E8E8E8 1%,
        #E8E8E8 3.5%
    );
}

.descricaopokedex {
    width: 40%;
    height: auto;

    background: repeating-linear-gradient(
        180deg,
        #F8A890,
        #F8A890 1%,
        #F8D0A8 1%,
        #F8D0A8 2%
    );

    border: solid #F8E8D0;
    border-width: 0.7vw 0.7vw 0 0.7vw;
    box-sizing: border-box;
}

.statspokemon {
    width: 60%;
    height: auto;
    background: repeating-linear-gradient(
        180deg,
        #F8A890,
        #F8A890 1%,
        #F8D0A8 1%,
        #F8D0A8 2%
    );

    border: solid #F8E8D0;
    border-width: 0.7vw 0 0.7vw 0.7vw;
    box-sizing: border-box;
}

.dadospokemon {
    width: 40%;
    height: auto;

    background: repeating-linear-gradient(
        180deg,
        #F8A890,
        #F8A890 1%,
        #F8D0A8 1%,
        #F8D0A8 2%
    );

    border: solid #F8E8D0;
    border-width: 0 0.7vw 0.7vw 0;
    box-sizing: border-box;
}

.paragrafodescricao{
    padding: 2vw;

    text-align: justify;
    font-family: 'pokemon';
    color: #F8F8F8;
    text-shadow: 0.3vw 0.3vw #686868;
    font-size: 2vw;
}

.paragrafostats {
    padding: 2vw;
    text-align: justify;
    font-family: 'pokemon';
    color: #F8F8F8;
    text-shadow: 0.3vw 0.3vw #686868;
    font-size: 2vw;
}

.paragrafodados {
    padding: 2vw;
    text-align: justify;
    font-family: 'pokemon';
    color: #F8F8F8;
    text-shadow: 0.3vw 0.3vw #686868;
    font-size: 2vw;
}

@font-face {
    font-family: 'pokemon';
    src: url('font/Pokemon Classic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}