html, body { height: 100% }

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #a6d0ed;
    height: 100%;
}

body:before {
    opacity: 0.1;
}

.titulo {
    color: #FFFFFF;
    font-family: 'Gothic A1';
    font-size: 70px;
    margin: 50px;
    margin-bottom: 70px;
}

.pagina {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: auto;
    
    border-left: solid;
    border-right: solid;
    border-color: #FFFFFF;
    border-width: 10px;

    width: 100%;
    height: 90%;
}

.cabecalhointerno {
    padding: 40px 40px 0px 40px;
    color: #FFFFFF;
    font-size: 100%;
    text-align: left;

    font-family: 'Gothic A1';
    font-weight: 600;
}

.fotopokemon {
    text-align: center;
    width: 25rem;
    height: 21.875rem;
    margin: auto;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    box-shadow: 1px 1px 1px 1px #808080;

    background-image: url('pictures/pokeball.png');
    background-size: 500px;
    background-repeat: no-repeat;
}

.conteudo {
    width: 25rem;
    height: 21.875rem;
    margin: auto;
    background: #FFFFFF;
    text-align: center;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 1px 1px 1px 1px #808080;
}

.paragrafodescricao{
    text-align: justify;
    color: #8F8F8F;
    font-size: 80%;

    font-family: 'Gothic A1';
    font-weight: 600;
}

.paragrafotitulostats {
    text-align: left;
}

.paragrafostats {
    text-align: justify;
    color: #606060;
    font-size: 80%;
}

.paragrafodados {
    text-align: justify;
    color: #FFFFFF;
    font-size: 80%;
}

.botoesnavegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
}

.botaonavegacao {
    margin: 30px 0px 20px 0px;
    border-radius: 8px;
    border: none;
    width: 80px;
    height: 25px;
    color: #A2A4A4;
    background-color: #FFFFFF;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #A2A4A4;

    font-family: 'Gothic A1';
    font-weight: 600;
}

.divtipos {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 0px 40px 20px 40px;
    gap: 20px;
}

.textotipos {
    display: flex;
    flex-direction: row;

    text-align: center;
    align-items: center;
    justify-content: center;

    gap: 5px;
    width: 100px;
    height: 30px;
    color: #FFFFFF;

    font-family: 'Gothic A1';
    font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
}

.conteudomutavel {
    margin: 0px 40px 40px 40px;
}

.conteudostats {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
}

.statsname {
    display: flex;
    flex-direction: column;
}

.stats {
    display: flex;
    flex-direction: column;
}

.progressbars {
    display: flex;
    flex-direction: column;
}

.paginaPokedex {
    padding: 10px;
    flex: none;
}

.botao {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer
}

.titulopokemon {
    margin: 0;;
    font-size: '20px'; 
    opacity: 0.6;
}

.subtitulopokemon {
    margin: 0;;
    font-size: '30px';
}