body {
  margin: 0;

  display: grid;
  grid-template-areas: 
      "header"
      "main"
      "footer"
  ;
}

h2 {
  color: #171615;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 4rem;
  grid-area: header;
  background-color: #171615;

  padding: 0rem 5rem 0rem 5rem;
}

.linksHeader {
  display: flex;
  gap: 3rem;
}

.linkHeader {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

.linkHeader:hover {
  color: #80A949;
}

.botaoHeader {
  background-color: #54842C;
  border-top: 0.3rem #86C14F solid;
  border-bottom: 0.3rem #3D6220 solid;
  border-left: none;
  border-right: none;
  box-sizing: border-box;

  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;

  box-shadow: 0rem 0.25rem 0rem 0rem rgba(00, 00, 00, 0.5);

  width: 11.5rem;
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoHeader:hover {
  border: none;
  box-shadow: none;
  background-color: #B9BABE;
}

.logo {
  margin-right: 20rem;
  height: 2.1rem;
}

main {
  height: 200rem;
  grid-area: main;
  background-color: blue;

  grid-template-areas: 
      "home"
      "trailer"
      "moreGames"
  ;
}

.home {
  display: flex;
  height: 20%;
  grid-area: "home";
  background-color: #000000;
  justify-content: center;
}

.homeImg {
  display: flex;
  background-image: url(pictures/home.jpg);
  background-repeat: no-repeat;
  background-size: 75rem 100%;
  width: 75rem;
  height: 100%;
}

.descricaoHome {
  width: 60%;
  box-sizing: border-box;
  padding: 5rem;
}

.textoHome {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.botaoHome {
  background-color: #54842C;
  border-top: 0.25rem #86C14F solid;
  border-bottom: 0.25rem #3D6220 solid;
  border-left: none;
  border-right: none;
  box-sizing: border-box;

  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;

  box-shadow: 0rem 0.25rem 0rem 0rem rgba(00, 00, 00, 0.5);

  width: 22rem;
  height: 4.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoHome:hover {
  border: none;
  box-shadow: none;
  background-color: #2C2A29;
}

.linkHome {
  text-decoration: none;
}

h1 {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

.moreGames {
  height: 47%;
  grid-area: "moreGames";
  background-image: url(pictures/backgroundB.png);
  display: flex;
  flex-direction: column;
}

.games {
  margin: auto;
  margin-top: 3rem;
  background-color: #FFFFFF;
  height: 52rem;
  width: 70rem;

  padding: 5rem;
  box-sizing: border-box;
  text-align: center;
}

.tituloGame {
  color: #5B8343;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.tituloGame:hover {
  color: #000000;
}

.imgGames {
  color: blue;
  display: flex;
  flex-direction: row;
}

.linkGame {
  text-decoration: none;
}

.linkGame:hover {
  text-decoration: underline;
  text-decoration-color: #000000;
}

img {
  width: 15rem;
}

.descricaoGame {
  color: #757473;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.news {
  height: 33rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 2rem;
}

.newsConteudo {
  display: flex;
  align-items: center;
  text-align: center;
}

.newsTitle {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
}

.linkNews {
  text-decoration: none;
}

.tituloNews {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.tituloNews:hover {
  color: #80A949;
}

.newsImg {
  width: 20rem;
  border: 0.15rem #FFFFFF solid;
}

.newsImg:hover {
  border: 0.15rem #80A949 solid;
}

.trailer {
  height: 33%;
  grid-area: "trailer";
  background-image: url(pictures/backgroundL.png);
}

.top {
  height: 10%;
  background-image: url(pictures/transformT.png);
  background-repeat: repeat-x;
  background-position: top;
}

.mid {
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.bot {
  height: 10%;
  background-image: url(pictures/transformB.png);
  background-repeat: repeat-x;
  background-position: bottom;
}

footer {
  height: 48rem;
  grid-area: footer;
  background-image: url(pictures/backgroundB.png);
}

.linkYoutube, .linkInstagram, .linkFacebook, .linkTwitter, .linkReddit {
  background-size: 5rem 5rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 5rem;
  height: 5rem;
}

.linkYoutube {
  background-image: url(pictures/youtubeB.png);
}

.linkYoutube:hover {
  background-image: url(pictures/youtube.png);
}

.linkInstagram {
  background-image: url(pictures/instagramB.png);
}

.linkInstagram:hover {
  background-image: url(pictures/instagram.png);
}

.linkFacebook {
  background-image: url(pictures/facebookB.png);
}

.linkFacebook:hover {
  background-image: url(pictures/facebook.png);
}

.linkTwitter {
  background-image: url(pictures/twitterB.png);
}

.linkTwitter:hover {
  background-image: url(pictures/twitter.png);
}

.linkReddit {
  background-image: url(pictures/redditB.png);
}

.linkReddit:hover {
  background-image: url(pictures/reddit.png);
}

.descricaoLinks {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.rodape {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}
