body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #57636f;
    font: normal 15pt Arial;
    overflow: hidden;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header {
    color: #0c1222;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37404a;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    height: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
}

footer {
    color: #0c1222;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

#entrada {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #0c1222;
    font-weight: bold;
}

#entrada input {
    border: none;
    border-radius: 5px;
    background-color: #57636f;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);

    color: #0c1222;
    font-weight: bold;
}

#resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #0c1222;
    font-weight: bold;
}

#botao_tabuada {
    height: 45px;
    width: 150px;
    border: none;
    border-radius: 7px;
    background-color: #57636f;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
    color: #0c1222;
    font-weight: bold;
}

input {
    border-radius: 2px;
    border-color: none;
}

#lista {
    height: auto;
    width: 400px;
    border-radius: 7px;
    border: none;
    text-align: left;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);

    background-color: #57636f;
}
