body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5ed8f7;
  font: normal 15pt Arial;
  overflow: hidden;
}

#main {
  display: flex;
  flex-direction: column;
}

header {
  color: white;
  text-align: center;
}

div {
  text-align: center;
  padding: 10px;
}

section {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  width: 700px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.185);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
